{#
Arguments : 
	- __id : string
		Identifiant unique du bouton
	- __text : string
		Texte du bouton
	- __icon : string
		Nom de l'icône à afficher
	- __iconBefore : string
		Nom de l'icône à afficher avant le texte
	- __iconAfter : string
		Nom de l'icône à afficher après le texte
#}

{{ addCSS('button/button.css') }}
{{ addJS('button/button.js') }}

<div class="c-button" id="{{__id}}" {%if __type%} type="{{__type}}" {%endif%} c-ripple>
	{% if __iconBefore or __icon %}
		{% include 'icon/icon.twig' with {
			__icon: __icon ?? __iconBefore,
		} %}
	{% endif %}
	<span>{{ __text }}</span>
	{% if __iconAfter %}
		{% include 'icon/icon.twig' with {
			__icon:  __iconAfter,
		} %}
	{% endif %}
</div>
