{% block assets %}
	{{ addCSS(['css/colors.css', 'css/base.css', "css/normalize.css"]) }}
	{{ addJS([
		'js/core/app.js', 
		'js/core/request.js', 
		'js/base.js', 
		'js/plugins/tooltip.js', 
		'js/plugins/toast.js',
		'js/plugins/dialog.js',
	]) }}
{% endblock %}

<!DOCTYPE html>
<html is-authenticated={{isAuthenticated ? 'true' : 'false'}} lang="fr">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">


		<title>
			{% block title %}{% endblock %}
			-
			{{ config.get('APP_NAME') }}
		</title>

		<link rel="manifest" href="//{{config.get('STATIC_DOMAIN')}}/public/manifest.webmanifest">
		<meta name="theme-color" content="#cce0ff">
		<link rel="icon" href="//{{config.get('STATIC_DOMAIN')}}/public/img/logo.svg">
		{% block meta %}
		
		{% endblock %}
	</head>
	<body>
		{% include "header.twig" %}
		<main>
			{% block content %}{% endblock %}
		</main>
		{% include 'footer.twig' %}

		<div id="templates"> {% block templates %}{% endblock %}
			</div>
			<div id="toasts"></div>
		</body>
	</html>

	{{ assets({files: getCSS(), name: getName() ~ '.css'}) }}
	{{ assets({files: getJS(), name: getName() ~ '.js'}) }}
