{% block assets %}
	{{ addCSS(['css/colors.css', 'css/base.css', "css/normalize.css"]) }}
	{{ addJS('js/base.js') }}
{% endblock %}

<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>
			{% block title %}{% endblock %}
			-
			{{ config.get('APP_NAME') }}
		</title>
	</head>
	<body>
		{% include "header.twig" %}
		<main>
			{% block content %}{% endblock %}
		</main>
		{% include 'footer.twig' %}
		<div id="templates">{% block templates %}{% endblock %}</div>
		</body>
	</html>

	{{ assets({files: getCSS(), name: (getName() ~ '.css')}) }}
	{{ assets({files: getJS(), name: (getName() ~ '.js')}) }}
