{# 
======================================== 
				 Imports
========================================
#}
{% extends "base.twig" %}

{# 
======================================== 
				 Assets
========================================
#}
{% block assets %}
	{{ parent() }}
	{{ setName('Professor_Profile') }}
	{{ addCSS('css/Professor_Profile.css') }}
	{{ addJS('js/Professor_Profile.js') }}

	{{ addCSS('textarea/textarea.css') }}
	{{ addJS('textarea/textarea.js') }}
{% endblock %}

{# 
======================================== 
				 Metas
========================================
#}
{% block title %}Profil-Professor
{% endblock %}

{# 
======================================== 
			      Body
========================================
#}

{% block content %}

	<div>
		<div id="background" class="profile-container">
			<div class="avatar-container">
				<div class="avatar">
					{% include 'icon/icon.twig' with {
						__icon: "person",
					} %}
				</div>
				<div class="name-center">
					<div class="name">{{Lastname}} {{Firstname}}</div>
					{# <div class="center">Centre</div> #}
				</div>
				<div
					class="containerButton">
					{# <button onclick="openDialog()">modifier</button> #}
					{% include 'button/button.twig' with {
                    __text: "Modifier",
					__id: "edit-button"
                } %}
				</div>
			</div>


		</div>
		<h2 class="center">Promotions asssignés</h2>
		<div
			class="wrapper">
			{% include 'paginator/paginator.twig' with {
            } %}
		</div>
	</div>
{% endblock %}

{% block templates append %}
